{
  "presets": [
    ["es2015", { "modues": false }],
    "react",
    "stage-0",
    "react-hmre" //пресет для правильной работы HotModuleReplacementPlugin
  ],
  "plugins": [
    "react-html-attrs"
  ]
}